<!--
  Asset utilization icons if the user has subscribed to this asset
-->

{{#if assets.isSubscribed}}
  <a id="btn-add-gadget" class="btn disabled" href="#modal-add-gadget"
               data-toggle="modal"
               data-aid="{{assets.id}}" data-type="{{assets.type}}"> {{>processed-asset-text}}</a>
  {{else}}

    {{#if cuser.username}}

    <a id="btn-add-gadget" class="btn btn-primary" href="#modal-add-gadget"
                       data-toggle="modal"
                       data-aid="{{assets.id}}"
                       data-type="{{assets.type}}"> {{>process-asset-text }}</a>
    {{else}}

    <a id="btn-add-gadget" class="btn btn-primary" href='{{url ""}}{{getLoginUrl .}}'
                   data-toggle="modal"
                   data-aid="{{assets.id}}" data-type="{{assets.type}}"> {{>process-asset-text }}</a>
    {{/if}}


{{/if}}