<form  method='post' action='{{url ""}}/asts/{{rxt.shortName}}/api/assets' class="form-horizontal" id="form-asset-create" >   
	<input type='file' name='testFile1' >
    <div class="control-group">
             {{#each assets.tables}}                                             
                <tr>
                        {{renderTable .}}
                </tr>                                    
            {{/each}}  
    </div> 
    <div id="saveButtons" class="form-actions">
        <input type='submit' id="btn-create-asset" class="btn btn-primary" name="addNewAssetButton" value='{{t "Create"}}'>
        <button class="btn" type="reset">{{t "Reset"}}</button>
		<input type="hidden" value="{{rxt.shortName}}" name="{{rxt.shortName}}" id="meta-asset-type">
    </div>   
</form>