<div id="container-search" class="container">
	<div class="row">
		<div class="span12 search-bar">
			<div class="row-fluid">
				{{#with navigationBar}}
				<div class="span9">
					{{#each types}}
					<a href="{{url ""}}{{this.listingUrl}}" data-toggle="dropdown" class="dropdown-toggle">
					<li class="dropdown {{#if selected}} selected {{/if}}">
						<div class="dropdown-icon-cont">
							{{#if value.icon}}
							<div style="background-image:url({{url ""}}{{ui.icon}})">
							</div>
							{{else}}
								<i class="{{ui.icon}}"></i>
							{{/if}}
						</div>

						<span>{{singularLabel}}</span>
					</li> </a>

					{{/each}}
				</div>
				{{/with}}
				<div class="span3">

				{{#with searchBar}}	
					{{>search .}}
				{{/with}}
				</div>
			</div>

		</div>

	</div>
</div>

