<a href="#" id="search-dropdown-arrow" class="search-dropdown-arrow-single"><i class="icon-sort-down"></i></a>
<input type="text" class="span12" id="search" placeholder="Search">
<a id="search-button-single"><b>Search</b></a>
<!-- dropdown -->
<div id="search-dropdown-cont" class="search-dropdown-cont-single">
    <a href="#" id="search-dropdown-close"><i class="icon-remove"></i></a>

    <!--
    <label>Label 1</label>
    <input type="text" class="span12" class="search-dropdown-inp" placeholder="Author">-->

    {{#if isTopAssets}}
        {{#each search.searchFields}}
            {{#if this.search}}
                {{>search-field this}}
                <!--
    <div>
        <label>{{field_label}}</label>
        <input type="text" class="span12" id="{{field_name}}" name="{{field_name}}" placeholder="">
    </div>
    -->
            {{/if}}
        {{/each}}

    {{else}}
        {{#each search.searchFields}}
            {{> search-field this}}
            <!--
    <div>
        <label>{{field_label}}</label>
        <input type="text" class="span12" id="{{field_name}}" name="{{field_name}}" placeholder="">
    </div>
    -->
        {{/each}}

    {{/if}}

    <button id="search-button2" class="btn span3">
        <i class="icon-search"></i>
    </button>

</div>
				